@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Pacifico", LtBrown, serif;
}

.top-section {
  background: url("../images/Background_image.jpg") no-repeat center center/cover fixed;
  height: 560px;
  position: relative;
  margin-bottom: 0;
}

.top-section .welcome {
  text-align: center;
}

.top-section h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 20px;
  padding-top: 180px;
}

.top-section .fa-code {
  font-size: 4.5em;
}

.navbar {
  font-size: 16px;
  background-color: #4594A4 !important;
}

.about {
  text-align: center;
  background-color: #4594A4;
  padding: 50px;
}

.about .about-text {
  margin-left: 50px;
  font-size: 20px;
}

.about .about-text p {
  text-align: left;
}

.about .img-round {
  border-radius: 100%;
  height: 250px;
}

.portfolio {
  text-align: center;
  background: #f5f5f5;
  padding-top: 50px;
}

.portfolio .line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

.portfolio h3 {
  font-size: 1.50rem !important;
  margin-bottom: 20px;
}

.portfolio .img {
  width: 100%;
}

.portfolio-image {
  outline: 1px solid #4594A4;
  outline-offset: 4px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition-property: box-shadow, opacity;
}

.portfolio-image:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 1;
}

.projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #4594A4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn a {
  color: #000000;
  text-decoration: none;
}

.btn span {
  vertical-align: 5px;
}

.btn .fa {
  font-size: 3em;
  margin-right: 5px;
}

.contact {
  background-color: #4594A4;
  text-align: center;
  padding: 70px;
}

.contact a {
  color: #000000;
}

.contact .icon-btn {
  font-size: 40px;
  text-indent: 30px;
}

.contact .linkedin-icon:hover {
  color: #0E09AD;
}

.contact .mail-icon:hover {
  color: #47FFF3;
}

.contact .github-icon:hover {
  color: #83C217;
}

.contact .copyright {
  font-weight: bold;
  margin-top: 30px;
}

.contact .scrollTop {
  float: right;
}

.contact .scrollTop:hover {
  color: #337ab7;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .portfolio .project-description {
    height: 130px;
  }
}

@media screen and (max-width: 991px) {
  ul li {
    text-align: center;
  }
  ul li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .project-description {
    height: 200px;
  }
}

@media screen and (min-width: 360px) {
  .about {
    padding: 30px 20px 20px;
  }
  .about .img-round {
    height: 200px;
  }
  .portfolio .project-description {
    height: 200px;
  }
  .contact {
    padding: 50px;
  }
  .contact .icons {
    margin-right: 20px;
  }
  .contact .scrollTop {
    float: none;
  }
}
