@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  text-transform: uppercase;
  font-family: "Pacifico", LtBrown, serif;
  text-align: center;
}

.header-text {
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.navbar {
  font-size: 16px;
  font-family: "Pacifico", LtBrown, serif;
  background-color: #4594A4 !important;
}

.top-section {
  background: url("../images/Background_image.jpg") no-repeat center center/cover fixed;
  height: 560px;
  position: relative;
  margin-bottom: 0;
}

.top-section .welcome {
  text-align: center;
}

.about {
  text-align: center;
  font-family: "Pacifico", LtBrown, serif;
  background-color: #4594A4;
  padding: 50px;
}

.about .about-text {
  margin-left: 50px;
  font-size: 20px;
}

.about .about-text p {
  text-align: left;
}

.about .img-round {
  border-radius: 100%;
  height: 250px;
}

.portfolio {
  background: #f5f5f5;
  padding-top: 50px;
}

.portfolio h1 {
  margin-bottom: 20px;
}

.portfolio .img {
  width: 100%;
}

.portfolio-image {
  outline: 1px solid #4594A4;
  outline-offset: 4px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  transition-property: box-shadow, opacity;
}

.portfolio-image:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 1;
}

.projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #4594A4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn a {
  color: #000000;
  text-decoration: none;
}

.btn span {
  display: table-cell;
  vertical-align: middle;
}

.btn .fa {
  margin-right: 5px;
}

.contact {
  background-color: #4594A4;
  text-align: center;
  padding: 70px;
}

.contact h1 {
  margin-bottom: 20px;
}

.contact a {
  color: #000000;
}

.contact .icon-btn {
  text-align: center;
  font-size: 30px;
  letter-spacing: 20px;
  text-indent: 30px;
}

.contact .linkedin-icn:hover {
  color: #0E09AD;
}

.contact .facebook-icn:hover {
  color: #47FFF3;
}

.contact .freecodecamp-icn:hover {
  color: #FF2403;
}

.contact .copyright {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.contact .scrollTop {
  float: right;
}

.contact .scrollTop:hover {
  color: #337ab7;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  ul li {
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .scrollTop {
    margin: 0 auto;
  }
}
