@import url('https://fonts.googleapis.com/css?family=Pacifico'); //Variables
$main-font: 'Pacifico', LtBrown, serif;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $main-font;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}
//Header
.header-text {
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 20px;

  .tags{
    font-size: 1.7em;
  }
}

//Navigation bar
.navbar {
  font-size: 16px;
  background-color: #4594A4 !important;
}

.top-section {
  background: url("../images/Background_image.jpg") no-repeat center center / cover fixed;
  height: 560px;
  position: relative;
  margin-bottom: 0;

  .welcome {
    text-align: center;
  }
}
//About section
.about {
  text-align: center;
  background-color: #4594A4;
  padding: 50px;

  .about-text {
    margin-left: 50px;
    font-size: 20px;

    p {
      text-align: left;
    }
  }

  .img-round {
    border-radius: 100%;
    height: 250px;
  }
}
//Portfolio section
.portfolio {
  text-align: center;
  background: #f5f5f5;
  padding-top: 50px;

  .line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  h3 {
    font-size: 1.50rem !important;
    margin-bottom: 20px;
  }

  .img {
    width: 100%;
  }
}

.portfolio-image {
  outline: 1px solid #4594A4;
  outline-offset: 4px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition-property: box-shadow, opacity;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1;
  }
}

.projects {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.btn {
  background-color: #4594A4;
  margin-top: 20px;
  margin-bottom: 20px;

  a {
    color: #000000;
    text-decoration: none;
  }

  span {
    vertical-align: 5px;
  }

  .fa {
    font-size: 3em;
    margin-right: 5px;
  }
}
//Footer section
.contact {
  background-color: #4594A4;
  text-align: center;
  padding: 70px;

  a {
    color: #000000;
  }

  .icon-btn {
    font-size: 40px;
    text-indent: 30px;
  }

  .linkedin-icon:hover {
    color: #0E09AD;
  }

  .mail-icon:hover {
    color: #47FFF3;
  }

  .github-icon:hover {
    color: #83C217;
  }

  .copyright {
    font-weight: bold;
    margin-top: 30px;
  }

  .scrollTop {
    float: right;

    &:hover {
      color: #337ab7;
      cursor: pointer;
    }
  }
}
// Responsive design
@media screen and (min-width: 992px) {
  //Portfolio
  .portfolio {
    .project-description {
      height: 130px;
    }
  }
}
@media screen and (max-width: 991px) {
  // Navigation bar sections
  ul {
    li {
      text-align: center;
      a {
        font-size: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  //Portfolio
  .portfolio {
    .project-description {
      height: 200px;
    }
  }
}
@media screen and (max-width: 360px) {
//Banner
h1 {
  font-size: 2.2em;
}

  // Profile photo
  .about {
    padding: 30px 20px 20px;

    .img-round {
      height: 200px;
    }
  }
  //Portfolio
  .portfolio {
    .project-description {
      height: 200px;
    }
  }
  // Footer
  .contact {
    padding: 50px;

    .icons {
      margin-right: 20px;
    }

    .scrollTop {
      float: none;
    }
  }
}
